* {
  box-sizing: border-box;
  font-family: monospace;
  font-size: 20px;
}

html, body {
  background-color: #1DB954;
}

.title {
  text-align: center;
  font-size: 32px;
  // font-family: Helvetica;
  margin: 1.2em 0;
}

.personContainer {
  display: inline-block;
  border: solid black 2px;
  box-shadow: .3em .3em .25em darkslategrey;
  border-radius: .2em;
  vertical-align: top;
  width: 25%;
  margin: 1em 4.165%;
  background-color: #25CFBC;

  span {
    display: block;
    padding: 1em 2em;
    text-align: center;
  }

  .nameLink {
    background-image: linear-gradient(to left top, #1DB954, #26F06D);
    z-index: 100;
    position: relative;
    text-align: center;
    display: block;

    &:before {
      border-radius: inherit;
      background-image: linear-gradient(to right bottom, #1DB954, #26F06D, #A7F06D, #E5F06D);
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      top: 0; left: 0;
      opacity: 0;
      width: 100%;
      z-index: -100;
      transition: opacity 0.25s;
    }
  }

  p{
    margin: 0;
  }
}

.nameLink:hover {
  &:before{
    opacity: 1;
  }
}

.buttonRow {
  display: flex;
  justify-content: center;
  margin-bottom: .25em;
  button {
    margin: 0 .3em;
    border-radius: .3em;
  }
}



.backButton {
  margin: 0 auto;
  display: block;
  border-radius: .3em;
  text-align: center;
}

a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;

  input {
    display: inline-block;
    width: 100%;
    margin: .3em 0;
  }

  p {
    margin: .3em 0;
    text-align: center;
  }
}

#newPerson {
  width: 20vw;
  padding: .3em .5em;
  margin: 5vh 40vw;
  border-radius: .2em;
}

.submitButton {
  border-radius: .3em;
  width: 40%;
  margin: 0 auto .5em auto;
}
